# Maven
target/
*.class

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Logs
logs/
*.log

# System
.DS_Store
Thumbs.db

# Nginx (Ignore binaries and temp files)
nginx/*
!nginx/conf/
nginx/conf/*
!nginx/conf/nginx.conf
!nginx/html/
nginx/html/*
!nginx/html/sky/
!nginx/html/sky/**

# MySQL Data (Local dev only)
mysql_data/
